{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "_assets": "./src/assets",
        "_components": "./src/components",
        "_screens": "./src/screens",
        "_utils": "./src/utils",
        "_redux": "./src/redux"
      }
    }]
  ]
}